# exclude zip files for handing in code
*.zip

# exclude assignment 5
5/

# exclude tex files and images for reports
*.tex
*.bib
*.aux
*.log
*.png
*.PNG
*.jpg
*.jpeg

# exclude weird DS fil
*.DS_Store
